/* белый #FFFFFF */

/* первичный фон #E5E5E5 */

/* вторичный фон #F5F4FA */

/* цвет основного текста #757575 */

/* вторичный цвет текста  #212121*/

/* акцент #2196F3 */

/* соцсети серый #AFB1B8 */

/* соцсети футера серый rgba(255, 255, 255, 0.1) */

/* фон иконок приемущества #F5F4FA */

/* цвет текста контактов футера rgba(255, 255, 255, 0.6) */

/* цвет вторичного теста футера rgba(255, 255, 255, 0.4) */

/* цет фона модального окна rgba(0, 0, 0, 0.2); */

$white-color: #ffffff;
$black-color: #000000;
$primary-bg-color: #f5f4fa;
$secondary-bg-color: #e5e5e5;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$social-network-color: #afb1b8;
$social-network-footer-color: rgba(255, 255, 255, 0.1);
$icon-bg-color: #f5f4fa;
$footer-contacts-text-color: rgba(255, 255, 255, 0.6);
$footer-secondary-test-color: rgba(255, 255, 255, 0.4);
$footer-bg-color: #2f303a;
$modal-bc: rgba(0, 0, 0, 0.2);
