.main-nav {
  position: relative;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

/* site nav */

.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .header-link + .header-link {
  margin-left: 30px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: $title-text-color;
  text-decoration: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.link.current {
  color: $accent-color;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;

    transform: scaleX(1);
  }
}

/* contacts */

.footer-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  fill: $primary-text-color;
  text-decoration: none;

  padding-top: 15px;
  padding-bottom: 15px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    --color5: #2196f3;
  }
}

.header-link-icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
